.product-hero {
    padding: 10rem;
    text-align: center;
    background-image: url(../../assets/product-bg.png);
}

.productHero-contents {
    width: 60%;
    margin: auto;
    padding: 5rem 0 2rem;
}

.productHero-contents h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.productHero-contents p {
    color: #ececec;
    font-size: 18px;
    font-weight: 200;
    margin-top: 1rem;
}

.productHero-contents .btn-transparent {
    color: #ececec;
    border: 1px solid #fff !important;
    font-size: 18px;
    font-weight: 200;
    margin: 2rem auto;
    width: 50%;
    transition: .5s ease;
}

.productHero-contents .btn-transparent:hover {
    color: var(--primary-text-color);
    background-color: #fff;
}